<% title "Office Hours" %>

<table>
  <tr>
    <th>Client</th>
    <th>User</th>
    <th>Day Of Week</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% for office_hour in @office_hours %>
    <tr>
      <td><%=h office_hour.client_id %></td>
      <td><%=h office_hour.user_id %></td>
      <td><%=h office_hour.day_of_week %></td>
      <td><%=h office_hour.start_time %></td>
      <td><%=h office_hour.end_time %></td>
      <td><%= link_to "Show", office_hour %></td>
      <td><%= link_to "Edit", edit_office_hour_path(office_hour) %></td>
      <td><%= link_to "Destroy", office_hour, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Office Hour", new_office_hour_path %></p>
