<h1><%=h @client.name %></h1>

<p>
  <b>Committed week hours:</b>
  <%=h @client.committed_week_hours %>
</p>

<p>
  <b>Next invoice date</b>
  <%=h ( Date.today.beginning_of_month + 1.month ).strftime('%m.%d.%Y') %>
</p>

<p>
  <b>Office hours</b><br/>
  <% @client.office_hours.each do |office_hour| %>
    <%= ( Date.today.beginning_of_week + office_hour.day_of_week - 1.day ).strftime('%a') %> :
    <%=h( office_hour.start_time_string ) %> - <%=h( office_hour.end_time_string ) %><br />
  <% end %>
</p>
<p>
  <object id="utv_o_633638" height="320" width="400"  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
    <param value="http://www.ustream.tv/flash/live/1031" name="movie" />
    <param value="true" name="allowFullScreen" />
    <param value="always" name="allowScriptAccess" />
    <param value="transparent" name="wmode" />
    <param value="viewcount=true&amp;autoplay=false&amp;brand=embed&amp;" name="flashvars" />
    <embed name="utv_e_86210" id="utv_e_460186" flashvars="viewcount=true&amp;autoplay=false&amp;brand=embed&amp;" height="320" width="400" allowfullscreen="true" allowscriptaccess="always" wmode="transparent" src="http://www.ustream.tv/flash/live/1031" type="application/x-shockwave-flash" />
  </object>
</p>


<%= link_to 'Show Projects', projects_path( :client_id => @client.id ) %>
