<h1>New project</h1>

<%= form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :created_by_user_id %><br />
    <%= f.text_field :created_by_user_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :closed_date %><br />
    <%= f.date_select :closed_date %>
  </p>
  <p>
    <%= f.label :billing_rate_dollars %><br />
    <%= f.text_field :billing_rate_dollars %>
  </p>
  <p>
    <%= f.label :billing_rate_unit %><br />
    <%= f.text_field :billing_rate_unit %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
