<h1>Editing project_user</h1>

<%= form_for( @project_user ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :approved_date %><br />
    <%= f.datetime_select :approved_date %>
  </p>
  <p>
    <%= f.label :is_worker %><br />
    <%= f.check_box :is_worker %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @project_user %> |
<%= link_to 'Back', project_users_path %>
